# {{ ansible_managed }}
# [member]
ETCD_NAME={{inventory_hostname}}
ETCD_DATA_DIR={{ etcd_data_dir }}
ETCD_LISTEN_CLIENT_URLS=https://{{hostvars[inventory_hostname]['ansible_'+ network.int_iface]['ipv4']['address']}}:2379,http://127.0.0.1:2379
ETCD_LISTEN_PEER_URLS=https://{{hostvars[inventory_hostname]['ansible_'+ network.int_iface]['ipv4']['address']}}:2380

#[cluster]
ETCD_ADVERTISE_CLIENT_URLS=https://{{hostvars[inventory_hostname]['ansible_'+ network.int_iface]['ipv4']['address']}}:2379
ETCD_INITIAL_CLUSTER_TOKEN={{etcd_initial_cluster_token}}
ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{hostvars[inventory_hostname]['ansible_'+ network.int_iface]['ipv4']['address']}}:2380
{% if groups["k8s-master"]|length > 1 %}
ETCD_INITIAL_CLUSTER=
{%-for host in groups["k8s-master"] %}
{{ host }}=https://{{hostvars[host]['ansible_'+ network.int_iface]['ipv4']['address']}}:2380
{%-if not loop.last %},{%endif%}
{% endfor %}

ETCD_INITIAL_CLUSTER_STATE=new
{% endif %}

#[security]
ETCD_CERT_FILE="{{etcd_certs_dir}}/{{inventory_hostname}}.pem"
ETCD_KEY_FILE="{{etcd_certs_dir}}/{{inventory_hostname}}-key.pem"
ETCD_CLIENT_CERT_AUTH="true"
ETCD_TRUSTED_CA_FILE="{{etcd_certs_dir}}/ca.pem"
ETCD_PEER_CERT_FILE="{{etcd_certs_dir}}/{{inventory_hostname}}.pem"
ETCD_PEER_KEY_FILE="{{etcd_certs_dir}}/{{inventory_hostname}}-key.pem"
ETCD_PEER_CLIENT_CERT_AUTH="true"
ETCD_PEER_TRUSTED_CA_FILE="{{etcd_certs_dir}}/ca.pem"
